:root {
    /* Font style */

    --primary-font-family: 'Poppins', sans-serif;
    --title-font-family: 'Rubik', sans-serif;
    --h1-font-size: 64px;
    --h2-font-size: 48px;
    --font-size-semibold-1: 28px;
    --font-size-semibold-2: 24px;
    --font-size-md: 18px;
    --font-size-regular: 16px;
    --font-size-small: 12px;

/*    Color style */

    --primary-acent-color: #69B99D;
    --primary-bg-color: #F5F5F5;
    --card-bag-color: #DEDCDA;
    --light-background: #F8F9FE;
    --text-light: #8E8E8E;
    --bg-white: #fff;
    --title-color: #1F2744;


    /*    Spacing style */

    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --standard-width: 1144px;

}

body {
    font-family: var(--primary-font-family);
    color: var(--text-light);
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: var(--spacing-sm);
    background-color: #F5F5F5;
    position: relative;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    max-width: var(--standard-width);
}
.title-color {
    color: var(--title-color);
}

.button-with-bg {
    padding: 12px 45px;
    margin-left: var(--spacing-lg);
    background-color: var(--primary-acent-color);
    color: var(--bg-white);
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 100px;
    border: 1px solid var(--primary-acent-color);
    text-decoration: none;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.button-with-bg:hover {
    background-color: var(--bg-white);
    color: var(--primary-acent-color);
    border: 1px solid var(--primary-acent-color);
}

.button-without-bg {
    border: none;
    background-color: transparent;
    color: var(--primary-acent-color);
    font-size: var(--font-size-regular);
    cursor: pointer;
    transition: transform .3s ease;

}

.button-without-bg:hover {
    transform: scale(1.05);
}

.square-tag {
    padding: 12px 25px;
    background-color: var(--light-background);
    max-width: 120px;
    display: flex;
    justify-content: center;
    font-size: var(--font-size-md);
    color: var(--primary-acent-color);
    text-transform: uppercase;
}

.subtitle {
    font-family: var(--title-font-family);
    font-size: 3.5rem;
    font-weight: bold;
    color: #054457;
    margin-bottom: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header-section {
    width: 100%;
    height: 754px;
}

.navbar {
    width: 100%;
    height: 120px;
    padding: var(--spacing-md) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.navbar .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    padding: 0 calc(var(--spacing-md)* 1.8);
    text-decoration: none;
    color: var(--text-light);
    font-size: var(--font-size-regular);
    font-weight: 500;
    transition: transform .3s ease;
}

.navbar a:hover {
    color: var(--primary-acent-color);
    transform: scale(1.05);
}

.navbar .navbar-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: var(--spacing-xl);
}

.header-features-section .feature-img {
    position: absolute; /* position to the body */
    top: 0;
    left: 50%;
    z-index: -1;
}

.header-features-section .feature-title {
    font-family: var(--title-font-family);
    font-weight: bold;
    font-size: var(--h1-font-size);
    width: 60%;
    margin: var(--spacing-lg) 0;
}

.header-features-section .feature-description {
    font-size: var(--font-size-regular);
    width: 45%;
    margin: 0 0 var(--spacing-lg) 0;
}


.wrapper {
    width: 85%;
    margin: auto;
    max-width: 1200px;
}

section {
    margin: 100px 0;
}

 .about-hero {
    color: #fff;
    background: #111;
    text-align: center;
    padding: 120px 0 20px;
 }

 /* .about-hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
 } */

 .about-hero p {
    font-size:  18px;
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
    opacity:0.9;
 }

 .about-section {
    padding: auto;
    text-align: center;
 }

 .about-section h2 {
    font-size: 32px;
    margin-bottom: 25px;
}

.about-section p {
    max-width: 700px;
    margin: 15px auto;
    line-height: 1.7;
    color: #555;
}

.about-features {
    background: #F5F5F5;
    padding: 80px;
    text-align: center;
}

.about-features h2 {
    font-size: 32px;
    margin-bottom: 50px;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.feature-box {
    background: #fff;
    padding: 40px 25px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
}

.feature-box :hover {
    transform: translateY(-8px);
}

.feature-box h3 {
    margin-bottom: 15px;
}

.feature-box p {
    color: #666;
    line-height: 1.6;
}

.about-stats {
    padding: 80px 0;
    background: #111;
    color: #fff;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    text-align: center;
}

.stat-box h3 {
    font-size: 40px;
    color: #f4b400;
    margin-bottom: 10px;
}

.stat-box p {
    font-size: 16px;
}

.about-cta {
    padding: 80px 0;
    text-align: center;
    background: #f4b400;
}

.about-cta h2 {
    margin-bottom: 30px;
    font-size: 30px;
}

.button-with-bg {
    background: #111;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s ease;
}

.button-with-bg :hover {
    background: #333;
}
